@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap");

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
  background-color:hsl(270, 50%, 20%);
  grid-template-areas:
  "nav nav nav nav"
  "main main main main"
  "content1 content2 content3 content4"
  "footer footer footer footer"

  ;
}

nav{
  background-color:hsl(270, 50%, 70%);
  grid-area: nav;
}
main{
  background-color:hsl(270, 50%, 65%);
  grid-area: main;
}

#content1{
  background-color:hsl(270, 50%, 60%);
  grid-area: content1;
}

#content2{
  background-color:hsl(270, 50%, 55%);
  grid-area: content2;
}

#content3{
  background-color:hsl(270, 50%, 50%);
  grid-area: content3;
}

#content4{
  background-color:hsl(270, 50%, 45%);
  grid-area: content4;
}

footer{
  background-color:hsl(270, 50%, 40%);
  grid-area: footer;
}

